<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>Want an ENIntership ?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

	<!-- <script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script> -->
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	{% include 'navbar.html' %}

	<header id="head" class="secondary"></header>

	<div id="app">
		<!-- container -->
		<div class="container">

			<ol class="breadcrumb">
				<li>
					<a href="/">Home</a>
				</li>
				<li class="active">Ajouter une expérience</li>
			</ol>

			<div class="container">
				<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Ajouter mon expérience :</h3>

							<hr>
							<!-- Formulaire content -->
							<form class="needs-validation" novalidate>
								<!-- DM -->
								<p v-if="err.length">
									<b>Please correct the following error(s):</b>
									<ul style="color: #fff; background-color: #e00">
										<li v-for="e in err">
											<pre>[[e]]</pre>
										</li>
									</ul>
								</p>

								<!-- Entreprise content -->
								<div class="row">
									<div class="col-md-12">
										<label>
											Entreprise
											<span class="text-danger"> *</span>
											<select id="companies" class="form-control custom-select is-invalid" v-model="exp.Company" required>
												<option>...</option>
												{% for company in companies %}
												<option value="{{ company[0] }}">{{ company[1] }} ({{ company[2] }})</option>
												{% endfor %}
											</select>
										</label>

										<!-- Bouton content -->
										<button class="btn btn-secondary btn-sm" v-on:click="openModalEntreprise" type="button">
											<i class="fas fa-pen"></i>
											Ajouter une entreprise
										</button>
									</div>
								</div>
								<br>

								<div class="row mb-3">

									<!-- Liste des types d'expériences -->
									<div class="col-md-3 widget">
										<label>
											Type
											<span class="text-danger"> *</span>
											<select class="form-control custom-select is-invalid" v-model="exp.Type" required>
												<option>...</option>
												{% for value,label in types.items() %}
												<option value="{{ value }}">{{ label }}</option>
												{% endfor %}
											</select>
										</label>
									</div>

									<!-- Liste des domaines -->
									<div class="col-md-3 widget">
										<label for="validationServer01">Domaine
											<span class="text-danger"> *</span>
										</label>

										{% for domain in domains %}
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="radio" value="{{ domain.value}}" v-model="exp.Domain"> {{ domain.label}}
											</label>
										</div>
										{% endfor %}
									</div>

									<!-- checkbox content -->
									<div class="col-md-3 widget" style="margin-top: -8px">
										<label class="checkbox">
											<input type="checkbox" v-model="exp.Money" id="expMoney">Rémunéré ?</label>
									</div>

									<!-- Form control content -->
									<div class="col-md-3 widget">

										<label>
											Durée
											<span class="text-danger"> *</span>
											<select class="form-control custom-select is-invalid" v-model="exp.Duration" required>
												<option>...</option>
												{% for value,label in durations.items() %}
												<option value="{{ value }}">{{ label }}</option>
												{% endfor %}
											</select>
										</label>
									</div>
								</div>

								<!-- Contact content -->
								<label for="validationServer04">Contact</label>
								<div class="row mb-3">
									<div class="form col-md-6 widget">
										<input type="text" v-model="contact.Nom" class="form-control" placeholder="Nom" id="expContactName">
										<br>
										<input type="text" v-model="contact.Email" class="form-control" placeholder="Email" id="expContactEmail">
									</div>
									<!-- Addresse content -->
									<div class="form col-md-6 widget">
										<input type="text" v-model="contact.Prenom" class="form-control" placeholder="Prénom" id="expContactSurname">
										<br>
										<input type="text" v-model="contact.Telephone" class="form-control" placeholder="Téléphone" id="expContactPhone">
									</div>
									<!-- Enibien content -->
									<div class="col-md-3 widget">
										<label class="checkbox">
											<input type="checkbox" v-model="contact.Enibien">Enibien ?</label>
									</div>
								</div>

							</form>

						</div>
						<!-- Bouton content -->
						<br>
						<!-- TODO ajouter le formulaire d'évaluation de l'exp -->
						<button class="btn btn-primary center-block" v-on:click="openModalFormulaire" type="submit">Ajouter mon
							expérience</button>
						<br>
					</div>
				</div>
			</div>
		</div>
		</article>
		<!-- /Article -->
		<!-- Modal Entreprise-->
		<div class="modal fade" id="modifModalEntreprise" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Ajouter une entreprise</h3>
					</div>


					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-12">
									<label>Nom de l'entreprise
										<span class="text-danger"> *</span>
									</label>
									<input type="text" v-model="entreprise.Name" class="form-control">
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-xs-12">
									<label>Adresse
										<span class="text-danger"> *</span>
									</label>
									<input type="text" v-model="entreprise.Address" class="form-control">
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-xs-4">
									<label>Code postal</label>
									<input type="text" v-model="entreprise.Postal_Code" class="form-control">
								</div>
								<div class="col-xs-4">
									<label>Ville</label>
									<input type="text" v-model="entreprise.City" class="form-control">
								</div>
								<div class="col-xs-4">
									<label>Pays</label>
									<input type="text" v-model="entreprise.Country" class="form-control">
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div v-if="err" class="col-sm-4 text-left" style="padding-right: 0mm;">
							<p v-for="e in err" class="text-danger">[[ e ]]</p>
						</div>
						<div class="col-md-8 ">
							<button type="button" class="btn btn-secondary" v-on:click="closeModalEntreprise">Annuler</button>
							<button type="button" v-on:click="submitEntreprise" class="btn btn-primary">Sauvegarder</button>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<!-- Modal Formulaire -->
		<div class="modal fade" id="modifModalFormulaire" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Formulaire d'évaluation de l'expérience</h3>
					</div>
					<div class="modal-body">
						<!-- Liste des questions -->
						{% for valueQuestion,labelQuestion in questions.items() %}
							<div class="form-group col-md-12">
								<label>{{ labelQuestion }}</label>
								<div class="form-check form-check-inline">
									{% for valueGrade,labelGrade in grades.items() %}
										<label class="mx-4">
											<input name="{{ valueQuestion }}" class="form-check-input" type="radio" value="{{ valueGrade }}">
											{{ labelGrade }}
										</label>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="modal-footer text-center">
						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-secondary center-block" v-on:click="closeModalFormulaire">Annuler</button>
							<button type="button" class="btn btn-primary center-block"   v-on:click="submitFormulaire">Sauvegarder</button>
						</div>
						</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /container -->




	<footer id="footer" class="top-space">
		{% include 'footer.html' %}
	</footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
	<script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
	<script src=" {{url_for('static', filename='js/template.js')}} "></script>

	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>
	<script src="{{url_for('static', filename='js/google-map.js')}}"></script>

	<script type="text/javascript" src="{{url_for('static', filename='js/addexp.js')}}"></script>


</body>

</html>