<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>Want an ENIntership ?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navigation bar  = navbar-->
	<div class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="{{ url_for('static', filename='images/logo.png')}}" alt="Progressus HTML5 template">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li>
						<a href="/">Accueil</a>
					</li>
					<!-- Il faut créer le fichier html derrière -->
					<li>
						<a href="recherche">Recherche</a>
					</li>
					<li class="active">
						<a href="addexp">Ajouter une expérience</a>
					</li>
					<li>
						<a class="btn" href="/testConn">
							<i class="fas fa-users"></i> Profil
						</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<div id="app">
		<!-- container -->
		<div class="container">

			<ol class="breadcrumb">
				<li>
					<a href="/">Home</a>
				</li>
				<li class="active">Ajouter une expérience</li>
			</ol>

			<div class="container">
				<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Ajouter mon expérience :</h3>
							<hr>
							<!-- Formulaire content -->
							<form class="needs-validation" novalidate>

								<!-- Entreprise content -->
								<div class="row">
									<div class="col-md-3">
										<label for="validationServer04">Entreprise
											<span class="text-danger"> *</span>

										</label>
										<input type="text" v-model="exp.Company" class="form-control" id="expCompany"
											required>
									</div>
									<div class="col-md-3" style="margin-top: 23px">
										<!-- Bouton content -->
										<button class="btn btn-primary btn-sm" v-on:click="openModalEntreprise"
											type="button">
											<i class="fas fa-pen"></i>
											Ajouter une entreprise</button>
									</div>
								</div>
								<br>

								<div class="row mb-3">
									<!-- Form control content -->
									<div class="col-md-3 widget">
										<label for="validationServer04">Type
											<span class="text-danger"> *</span>
										</label>
										<select class="custom-select is-invalid" v-model="exp.Type" id="expType"
											required>
											<option>...</option>
											<option>CDI</option>
											<option>CDD</option>
											<option>Stage</option>
											<option>Alternance</option>
										</select>
									</div>




									<!-- Radio content -->
									<div class="col-md-3 widget">
										<label for="validationServer01">Domaine
											<span class="text-danger"> *</span>
										</label>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="radios" id="radios1"
												value="Informatique" v-model="exp.Domain">
											<label class="form-check-label" for="radios1">Informatique</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="radios" id="radios2"
												value="Mécatronique" v-model="exp.Domain">
											<label class="form-check-label" for="radios2">Mécatronique</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="radios" id="radios3"
												value="Electronique" v-model="exp.Domain">
											<label class="form-check-label" for="radios3">Electronique</label>
										</div>




									</div>

									<!-- checkbox content -->
									<div class="col-md-3 widget" style="margin-top: -8px">
										<label class="checkbox">
											<input type="checkbox" v-model="exp.Money" id="expMoney">Rémunéré ?</label>
									</div>

									<!-- Form control content -->
									<div class="col-md-3 widget">
										<label for="validationServer04">Durée
											<span class="text-danger"> *</span>
										</label>
										<select class="custom-select is-invalid" v-model="exp.Duration" id="expDuration"
											required>
											<option>...</option>
											<option>1 mois</option>
											<option>2 mois</option>
											<option>3 mois</option>
											<option>4 mois</option>
											<option>5 mois</option>
											<option>6 mois</option>
											<option>+</option>
										</select>
									</div>
								</div>

								<!-- Entreprise content -->
								<label for="validationServer04">Contact</label>
								<div class="row mb-3">
									<div class="form col-md-6 widget">
										<input type="text" v-model="exp.Contact.Nom" class="form-control"
											placeholder="Nom" id="expContactName">
										<br>
										<input type="text" v-model="exp.Contact.Email" class="form-control"
											placeholder="Email" id="expContactEmail">
									</div>
									<!-- Addresse content -->
									<div class="form col-md-6 widget">
										<input type="text" v-model="exp.Contact.Prenom" class="form-control"
											placeholder="Prénom" id="expContactSurname">
										<br>
										<input type="text" v-model="exp.Contact.Telephone" class="form-control"
											placeholder="Téléphone" id="expContactPhone">
									</div>
									<!-- checkbox content -->
									<div class="col-md-3 widget">
										<label class="checkbox">
											<input type="checkbox" v-model="exp.Enibien">Enibien ?</label>
									</div>
								</div>

							</form>

						</div>
						<!-- Bouton content -->
						<br>
						<button class="btn btn-primary center-block" v-on:click="submit" type="submit">Ajouter mon
							expérience</button>
						<br>
					</div>
				</div>
			</div>
		</div>
		</article>
		<!-- /Article -->
		<!-- Modal -->
		<div class="modal fade" id="modifModalEntreprise" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Ajouter une entreprise</h3>
					</div>


					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-12">
									<label>Nom de l'entreprise
										<span class="text-danger"> *</span>
									</label>
									<input type="text" v-model="entreprise.Name" class="form-control">
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-xs-12">
									<label>Adresse
										<span class="text-danger"> *</span>
									</label>
									<input type="text" v-model="entreprise.Address" class="form-control">
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-xs-4">
									<label>Code postal</label>
									<input type="text" v-model="entreprise.Postal_Code" class="form-control">
								</div>
								<div class="col-xs-4">
									<label>Ville</label>
									<input type="text" v-model="entreprise.City" class="form-control">
								</div>
								<div class="col-xs-4">
									<label>Pays</label>
									<input type="text" v-model="entreprise.Country" class="form-control">
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div v-if="err" class="col-sm-4 text-left" style="padding-right: 0mm;">
							<p v-for="e in err" class="text-danger">[[ e ]]</p>
						</div>
						<div class="col-md-8 ">
							<button type="button" class="btn btn-secondary"
								v-on:click="closeModalEntreprise">Annuler</button>
							<button type="button" v-on:click="submitEntreprise" class="btn btn-primary">Sauvegarder</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /container -->




	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							Participants au projet :
							<br>
							<br> Antoine Martet a6martet@enib.fr
							<br> Thomas Mazéas t7mazeas@enib.fr
							<br> Lucie Ménard l7menard@enib.fr
							<br>
							<br> Projet réalisé dans le cadre du cours de conduite de projet en S6 à l'ENIB.
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Presentation</h3>
						<div class="widget-body">
							<p>Want An ENIntership is a school project to make a visualisation to the Enib contact. That
								could be useful to find
								a stage or an experience. We are three to work on it : Antoine Marter, Thomas Mazéas and
								Lucie Ménard. Enjoy your
								project !</p>
						</div>
					</div>

				</div>
				<!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Accueil</a> |
								<a href="recherche">Recherche</a> |
								<a href="signin">Se connecter</a> |
								<a href="signup">S'inscrire</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Antoine Martet, Thomas Mazéas et Lucie Ménard. Designed by
								<a href="http://gettemplate.com/" rel="designer">gettemplate</a>
							</p>
						</div>
					</div>

				</div>
				<!-- /row of widgets -->
			</div>
		</div>

	</footer>

	<script type="text/javascript" src="{{url_for('static', filename='js/addexp.js')}}"></script>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
	<script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
	<script src=" {{url_for('static', filename='js/template.js')}} "></script>

	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>
	<script src="{{url_for('static', filename='js/google-map.js')}}"></script>


</body>

</html>