<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>Want an ENIntership ?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

	<!-- <script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script> -->
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
	{% include 'navbar.html' %}

	<header id="head" class="secondary"></header>

	<div id="app">
		<div class="container">
			<article class="col-xs-14 maincontent">
				<header class="page-header">
					<h1 class="page-title">Experience du profil <a href="/profil/{{ id }}">{{ user['fam_name'] }} {{ user['first_name'] }}</a></h1>
                </header>
				<div class="panel panel-default">
					<div class="row">
                        <p class="text-center" style="font-size: 35px;">{{ types.get(exp['type']) }} en {{ domains.get(exp['domain']) }} à {{ company['name'] }} </p>
                        <p class="text-center" style="font-size: 25px;"> Evaluation du stage : {{ (exp['env_grade'] /100) | int }}/5 <br></p>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5">
                            <p style="font-size: 20px;">   
                                Type : {{ types.get(exp['type']) }} <br>
                                Domaine : {{ domains.get(exp['domain']) }} <br>
                                Durée : {{ durations.get(exp['duration']) }} <br>
                                Contact : {{ contact['last_Name'] }} {{ contact['first_Name'] }} <br>
                                {% if  exp['money']  %}
                                    Experience : rémunérée<br>
                                {% else %}
                                    Experience : non rémunérée<br>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p style="font-size: 20px;">
                                Entreprise : {{ company['name'] }} 
                                <a href="/company/{{ company['id_entreprise'] }} "><i class="fas fa-address-card"></i></a><br>
                                Adresse : {{ company['address'] }} <br>
                                Ville : {{ company['city'] }} <br>
                                Code Postal : {{ company['postal_code'] }} <br>
                                Pays : {{ company['country'] }} <br>
                                Note de l'entreprise : {{ (company['grade']/100) }}/5 <br>
                            </p>
                        </div>
                        <br>
					</div>
                </div>
                
			</article>
		</div>
	</div>

	<footer id="footer" class="top-space">
		{% include 'footer.html' %}
	</footer>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
	<script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
    <script src=" {{url_for('static', filename='js/template.js')}} "></script>
    <!-- <script src="{{ url_for('static', filename='js/experience.js') }}"></script> -->

</body>