
		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							Participants au projet :<br>
							<br>
							Antoine Martet a6martet@enib.fr<br>
							Thomas Mazéas t7mazeas@enib.fr<br>
							Lucie Ménard l7menard@enib.fr<br>
							<br>
							Projet réalisé dans le cadre du cours de conduite de projet en S6 à l'ENIB.
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Presentation</h3>
						<div class="widget-body">
							<p>Want An ENIntership is a school project to make a visualisation to the Enib contact. That could be useful to find a stage or an experience. We are three to work on it : Antoine Marter, Thomas Mazéas and Lucie Ménard. Enjoy your project !</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Accueil</a> | 
								<a href="/recherche">Recherche</a> |
								<a href="/signin">Se connecter</a> |
								<a href="/signup">S'inscrire</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Antoine Martet, Thomas Mazéas et Lucie Ménard. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>