<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Want an ENIntership ?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">
	<!-- Google map -->
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"> 
	<!-- Leaflet CSS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin=""/>
	
	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" media="screen" >
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navigation bar  = navbar-->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo.png')}}" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/">Accueil</a></li>
					<!-- Il faut créer le fichier html derrière -->
					<li class="dropdown">
						<a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Rechercher <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="recherche">Expérience</a></li>
							<li><a href="searchEntreprise">Entreprise</a></li>
						</ul>
					</li>
					<li><a href="addexp">Ajouter une expérience</a></li>
					<li>
						<ul id="navigation">
							{% for item in navigation %}
								<li><a href="{{ item.href }}">{{ item.caption }}</a></li>
							{% endfor %}
						</ul>

						<a class="btn" href="/testConn"></a>
						{% if id==0 %}
						<i class="fas fa-users"></i> Profil
						{% else %}
						<a class="btn" href="signin">S'INSCRIRE / SE CONNECTER</a>
						{% endif %}
						</a>
					</li>
					<!-- <li><a class="btn" href="/testConn"> <i class="fas fa-users"></i> Profil -->
					</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead" style="color: rgb(39, 41, 41) ;">Want an ENIntership ?</h1>
				<p class="tagline" style="color:black;"> Projet d'élèves ingénieurs ENIB réalisé dans le cadre de leurs études.</p>
				<!-- Il faut créer le fichier html derrière -->
				<p><a class="btn btn-action btn-lg" role="button" href="recherche">Commencer votre recherche d'expérience</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Want an ENIntership permet une visualisation du réseau enibien.</h2>
		<p class="text-muted">
			Commencez dès à présent la recherche de votre prochain stage ou emploi !
		</p>
	</div>
	<!-- /Intro-->

	

	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->

	<!-- container -->
	<div class="container">
		<div class="row">
			
			
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">
				<section class="container">
					<!-- <div id="map"></div> -->
					<div id="maCarte" style="height:500px;"></div>
				</section>
			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							Participants au projet :<br>
							<br>
							Antoine Martet a6martet@enib.fr<br>
							Thomas Mazéas t7mazeas@enib.fr<br>
							Lucie Ménard l7menard@enib.fr<br>
							<br>
							Projet réalisé dans le cadre du cours de conduite de projet en S6 à l'ENIB.
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Presentation</h3>
						<div class="widget-body">
							<p>Want An ENIntership is a school project to make a visualisation to the Enib contact. That could be useful to find a stage or an experience. We are three to work on it : Antoine Marter, Thomas Mazéas and Lucie Ménard. Enjoy your project !</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Accueil</a> | 
								<a href="recherche">Recherche</a> |
								<a href="signin">Se connecter</a> |
								<a href="signup">S'inscrire</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Antoine Martet, Thomas Mazéas et Lucie Ménard. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>			



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
	<script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
	<script src=" {{url_for('static', filename='js/template.js')}} "></script>

	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script> 
	<script src="{{url_for('static', filename='js/google-map.js')}}"></script>

	<!-- Leaflet JS-->
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	crossorigin=""></script>
	<script>
		//initialisation de la carte
		var carte = L.map('maCarte').setView([48.3606, -4.5666], 16);
		//chargement des tuiles
		L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    // Il est toujours bien de laisser le lien vers la source des données
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 1,
                    maxZoom: 20
                }).addTo(carte);
	</script>
</body>
</html>