<!-- Fixed navigation bar  = navbar-->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo.png')}}" alt="Progressus HTML5 template"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="/">NAVBAR OK / id = {{ id }}</a></li>
                <li class="active"><a href="/">Accueil</a></li>
                <!-- TODO faire l'heritage de page HTML -->
                <li><a href="recherche">Recherche</a></li>
                <li><a href="addexp">Ajouter une expérience</a></li>
                <li>
                    <!-- WHAT IS THAT ?  -->
                    <ul id="navigation">
                        {% for item in navigation %}
                            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
                        {% endfor %}
                    </ul>

                    <!-- <a class="btn" href="/testConn"></a> -->
                    {% if id %}
                        <a class="btn" href="profil/{{ id }}">
                            <i class="fas fa-users"></i> Profil
                        </a>
                    {% else %}
                        <a class="btn" href="signin">S'INSCRIRE / SE CONNECTER</a>
                    {% endif %}
                    </a>
                </li>
                <!-- <li><a class="btn" href="/testConn"> <i class="fas fa-users"></i> Profil -->
                </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div> 
<!-- /.navbar -->