<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Want an ENIntership ?</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script>moment().format();</script>
    <script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
                <script src="assets/js/html5shiv.js"></script>
                <script src="assets/js/respond.min.js"></script>
                <![endif]-->
</head>

<body>
    {% include 'navbar.html' %}
    <header id="head" class="secondary"></header>

    <div id="app">
        <div class="container">
            <!-- Page principale-->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Profil</h1>
                </header>

                <div class="col-md-offset-3 col-md-6">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <i class="fas fa-user fa-7x"></i>
                        </div>
                        <article>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-center" style="font-size: 35px;">[[user.Prenom]] [[user.Nom]]</p>
                                    </div>
                                    <div class="col-md-2 text-right ">
                                        <a class="btn btn-danger" href="/logout" v-on:click="logout"
                                            style="padding-right: 20px; padding-left: 20px;"><i
                                                class="fas fa-power-off"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="text-center" style="font-size: 25px;">[[user.Surnom]]</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <br />
                    <div class="row" style="font-size: 16px;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="email">Email</label>
                                        <p id="email"> [[user.Email]] </p>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="phone">Téléphone</label>
                                        <p id="phone"> [[user.Telephone]] </p>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="naissance">Naissance</label>
                                        <p id="naissance"> [[afficheDateNaissance]] </p>
                                    </div>
                                    <div class="col-xs-6">
                                        <div v-if="user.Diplome">
                                            <label for="dip">Diplomé</label>
                                            <p id="dip">Oui, le [[afficheDateDiplome]]</p>
                                        </div>
                                        <div v-else>
                                            <label for="dateDip">Diplomé</label>
                                            <p id="dateDip">Non</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary btn-sm" v-on:click="openModal" type="button"><i
                                                class="fas fa-pen"></i>
                                            Modifier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="text-center">LISTE DES EXPERIENCES</h3>
                            </div>
                        </div>
                    </div>

                </div>



            </article>
        </div>


        <!-- Modal Modification Profil -->
        <div class="modal fade" id="modifModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Modification du profil</h3>
                    </div>


                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Nom<span class="text-danger"> *</span></label>
                                    <input type="text" v-model="tempoUser.Nom" class="form-control" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label>Prénom<span class="text-danger"> *</span></label>
                                    <input type="text" v-model="tempoUser.Prenom" class="form-control" disabled>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-7">
                                    <label>Surnom</label>
                                    <input type="text" v-model="tempoUser.Surnom" class="form-control">
                                </div>
                                <div class="col-xs-5">
                                    <label>Date de Naissance</label>
                                    <input type="date" v-model="tempoUser.Naissance" class="form-control">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-8">
                                    <label>Email<span class="text-danger"> *</span></label>
                                    <input type="email" v-model="tempoUser.Email" class="form-control" disabled>
                                </div>

                                <div class="col-sm-4">
                                    <label>Téléphone</label>
                                    <input type="tel" v-model="tempoUser.Telephone" class="form-control">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Mot de passe<span class="text-danger"> *</span></label>
                                    <input type="password" v-model="tempoUser.Mdp" class="form-control" required>
                                </div>

                                <div class="col-xs-6">
                                    <label>Confirmation mot de passe<span class="text-danger"> *</span></label>
                                    <input type="password" v-model="confirmNewMdp" class="form-control" required>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox">
                                        <input v-model="tempoUser.Diplome" type="checkbox">
                                        <span class="text-danger">* </span>Diplomé ? Si oui, date :
                                    </label>
                                </div>
                                <div class="col-sm-7" v-if="tempoUser.Diplome">
                                    <input type="date" v-model="tempoUser.DateDiplome" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <div v-if="err" class="col-sm-4 text-left" style="padding-right: 0mm;">
                            <p v-for="e in err" class="text-danger">[[ e ]]</p>
                        </div>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-secondary" v-on:click="closeModal">Fermer</button>
                            <button type="button" v-on:click="save" class="btn btn-primary">Sauvegarder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-xs" id="confirmModal" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Confirmation du mot de passe</h3>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Confirmez votre mot de passe</label>
                                    <input type="password" v-model="confirmMdp" class="form-control">
                                </div>
                            </div>
                            <div v-if='badPassword'>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-danger">Mot de passe erroné</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" v-on:click="closeModalConfirm">Fermer</button>
                        <button type="button" v-on:click="tryPassword" class="btn btn-primary">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="top-space">
        {% include 'footer.html' %}
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/profil.js')}}"></script>
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
    <script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
    <script src=" {{url_for('static', filename='js/template.js')}} "></script>
</body>

</html>