<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>Want an ENIntership ?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">

	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.css')}}" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
						class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/logo.png')}}"
						alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="/">Accueil</a></li>
					<!-- Il faut créer le fichier html derrière -->
					<li class="dropdown">
						<a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Rechercher <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="recherche">Expérience</a></li>
							<li><a href="searchEntreprise">Entreprise</a></li>
						</ul>
					</li>
					<li><a href="addexp">Ajouter une expérience</a></li>
					<li><a class="btn" href="/testConn"> <i class="fas fa-users"></i> Profil
					</a></li>				
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Recherche</li>
		</ol>

		<div class="container">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Rechercher une expérience</h1>
				</header>

				<div class="container">
					<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
						<div class="panel panel-default">
							<div class="panel-body">
								<h3 class="thin text-center">Rechercher une expérience :</h3>
								<p class="text-center text-muted">Quelle type d'expérience cherchez vous ?</p>
								<hr>
								<!-- Formulaire content -->
								<form>
									<div class="row mb-3">
										<!-- Form control content -->
										<div class="col-md-3 widget">
											<label for="validationServer04">Type</label>
											<select class="custom-select is-invalid" id="validationServer04" required>
												<option>...</option>
												<option>CDI</option>
												<option>CDD</option>
												<option>Stage</option>
												<option>Alternance</option>
											</select>
										</div>

										<!-- Radio content -->
										<div class="col-md-3 widget">
											<label for="validationServer01">Domaine</label>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="radioDomaine" value="Informatique">
												<label class="form-check-label" for="radioDomaine">Informatique</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="radioDomaine" value="Electronique">
												<label class="form-check-label" for="radioDomaine">Electronique</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="radioDomaine" value="Mécatronique">
												<label class="form-check-label" for="radioDomaine">Mécatronique</label>
											</div>
										</div>

										<!-- Radio content -->
										<div class="col-md-3 widget">
											<label for="validationServer01">Rémunéré</label>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="radioMoney" value="Informatique">
												<label class="form-check-label" for="radioMoney">Oui</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="radioMoney" value="Electronique">
												<label class="form-check-label" for="radioMoney">Non</label>
											</div>
										</div>

										<!-- Form control content -->
										<div class="col-md-3 widget">
											<label for="validationServer04">Durée</label>
											<select class="custom-select is-invalid" id="validationServer04">
												<option>...</option>
												<option>1 mois</option>
												<option>3 mois</option>
												<option>4 mois</option>
												<option>5 mois</option>
												<option>6 mois</option>
											</select>
										</div>
									</div>
									<hr>
									<!-- Entreprise content -->
									<div class="row mb-3">
										<div class="col-md-6 widget">
											<input type="text" class="form-control" placeholder="Entreprise">	
										</div>
										<!-- Addresse content -->
										<div class="form-row col-md-3 widget">
											<input type="text" class="form-control" placeholder="Pays">
										</div>
										<div class="form-row col-md-3 widget">
											<input type="text" class="form-control" placeholder="Ville">
										</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- Bouton content -->
						<button class="btn btn-primary" type="submit">Rechercher</button>
					</div>
				</div>
			</article><!-- /Article -->
	</div> <!-- /container -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							Participants au projet :<br>
							<br>
							Antoine Martet a6martet@enib.fr<br>
							Thomas Mazéas t7mazeas@enib.fr<br>
							Lucie Ménard l7menard@enib.fr<br>
							<br>
							Projet réalisé dans le cadre du cours de conduite de projet en S6 à l'ENIB.
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Presentation</h3>
						<div class="widget-body">
							<p>Want An ENIntership is a school project to make a visualisation to the Enib contact. That could be useful to find a stage or an experience. We are three to work on it : Antoine Marter, Thomas Mazéas and Lucie Ménard. Enjoy your project !</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Accueil</a> | 
								<a href="recherche">Recherche</a> |
								<a href="signin">Se connecter</a> |
								<a href="signup">S'inscrire</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Antoine Martet, Thomas Mazéas et Lucie Ménard. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
	<script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
	<script src=" {{url_for('static', filename='js/template.js')}} "></script>
</body>

</html>