<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>Want an ENIntership ?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">

	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.css')}}" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	{% include 'navbar.html' %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Recherche</li>
		</ol>

		<div class="container">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Rechercher une expérience</h1>
				</header>

				<div class="container">
					<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
						<div class="panel panel-default">
							<div class="panel-body">
								<h3 class="thin text-center">Rechercher une expérience :</h3>
								<p class="text-center text-muted">Quelle type d'expérience cherchez vous ?</p>
								<hr>
								<!-- Formulaire content -->
								<form>
									<div class="row mb-3">
										<!-- Form control content -->
										<div class="col-md-3 widget">
											<label for="validationServer04">Type</label>
											<select class="custom-select is-invalid" id="validationServer04" required>
												<option>...</option>
												<option>CDI</option>
												<option>CDD</option>
												<option>Stage</option>
												<option>Alternance</option>
											</select>
										</div>

										<!-- Radio content -->
										<div class="col-md-3 widget">
											<label for="validationServer01">Domaine</label>
											<div class="form-check" >
												<input class="form-check-input" type="radio" name="radios"
													id="filterDomain" onkeyup="myFunction()" value="Informatique">
												<label class="form-check-label" for="filterDomain">Informatique</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="filterDomain" onkeyup="myFunction()" value="Electronique">
												<label class="form-check-label" for="filterDomain">Electronique</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="filterDomain" onkeyup="myFunction()" value="Mécatronique">
												<label class="form-check-label" for="filterDomain">Mécatronique</label>
											</div>
										</div>

										<!-- Radio content -->
										<div class="col-md-3 widget">
											<label for="validationServer01">Rémunéré</label>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="radioMoney" value="Informatique">
												<label class="form-check-label" for="radioMoney">Oui</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="radios"
													id="radioMoney" value="Electronique">
												<label class="form-check-label" for="radioMoney">Non</label>
											</div>
										</div>

										<!-- Form control content -->
										<div class="col-md-3 widget">
											<label for="validationServer04">Durée</label>
											<select class="custom-select is-invalid" id="validationServer04">
												<option>...</option>
												<option>1 mois</option>
												<option>3 mois</option>
												<option>4 mois</option>
												<option>5 mois</option>
												<option>6 mois</option>
											</select>
										</div>
									</div>
									<hr>
									<!-- Entreprise content -->
									<div class="row mb-3">
										<div class="col-md-6 widget">
											<input type="text" class="form-control" placeholder="Entreprise">	
										</div>
										<!-- Addresse content -->
										<div class="form-row col-md-3 widget">
											<input type="text" class="form-control" placeholder="Pays">
										</div>
										<div class="form-row col-md-3 widget">
											<input type="text" class="form-control" placeholder="Ville">
										</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- Bouton content -->
						<button class="btn btn-primary" type="submit">Rechercher</button>
					</div>
				</div>
			</article><!-- /Article -->
			<article class="col-xs-12 maincontent">
					<header class="page-header">
						<h1 class="page-title">Liste des expériences</h1>
					</header>
	
	
					<article>
						
						<table id="infoExp" class="table">
							<tr class="header">
								<th scope="col">
									<h3>Type</h3>
								</th>
								<th scope="col">
									<h3>Domaine</h3>
								</th>
								<th scope="col">
									<h3>Rémunéré ?</h3>
								</th>
								<th scope="col">
									<h3>Durée</h3>
								</th>
							</tr>
							
							{% for infoExperiences in infoExp %}
							
							<tr >
								<td>
									<h4>{{infoExperiences[1]}}</h4>
								</td>
								<td>
									<h4>{{infoExperiences[2]}}</h4>
								</td>
								<td>
									<h4>{{infoExperiences[3]}}</h4>
								</td>
								<td>
									<h4>{{infoExperiences[4]}}</h4>
								</td>
							</tr>
							
							{% endfor %}
							
	
						</table>

			</article>
	</div> <!-- /container -->


	<footer id="footer" class="top-space">
		{% include 'footer.html' %}
	</footer>	
	<script type="text/javascript" src="{{url_for('static', filename='js/recherche.js')}}"></script>
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
	<script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
	<script src=" {{url_for('static', filename='js/template.js')}} "></script>
</body>

</html>