<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>Want an ENIntership ?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">

	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.css')}}" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	{% include 'navbar.html' %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li>
				<a href="/">Home</a>
			</li>
			<li class="active">Recherche</li>
		</ol>

		<div class="container">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Rechercher une expérience</h1>
				</header>

				<div class="container">
					<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
						<div class="panel panel-default">
							<div class="panel-body">
								<h3 class="thin text-center">Rechercher une expérience :</h3>
								<p class="text-center text-muted">Quelle type d'expérience cherchez vous ?</p>
								<hr>
								<!-- Formulaire content -->
								<form>
									<div class="row mb-4">
										<!-- Form control content -->
										<div class="col-md-3 widget">
											<label for="validationServer01">Type</label>
											<form>
												<fieldset>
													{% for value,label in types.items() %}
													<input type="radio" value="{{ label }}" name="filterType">{{ label }}
													<br> {% endfor %}
													</select>
											</form>
										</div>

										<div class="col-md-4 widget">
											<label for="validationServer01">Domaine</label>
											<form>
												<fieldset>
													<input type="radio" value="Mécatronique" name="filterDomain">Mécatronique
													<br>
													<input type="radio" value="Electronique" name="filterDomain">Electronique
													<br>
													<input type="radio" value="Informatique" name="filterDomain">Informatique
												</fieldset>
											</form>
										</div>

										<!-- Radio content -->
										<div class="col-md-4 widget">
											<label for="validationServer01">Rémunéré</label>
											<form>
												<fieldset>
													<input type="radio" value="Oui" name="filterMoney">Oui
													<br>
													<input type="radio" value="Non" name="filterMoney">Non
												</fieldset>
											</form>
										</div>
										<!-- Radio content -->
										<!-- <div class="col-md-3 widget">
												<label for="validationServer01">France/Étranger ?</label>
												<form>
													<fieldset>
														<input type="radio" value="France" name="filterCountry">France
														<br>
														<input type="radio" value="Strange" name="filterCountry">Étranger
													</fieldset>
												</form>
										</div> -->



									</div>
									<hr>


								</form>
							</div>
						</div>

					</div>
				</div>
			</article>
			<!-- /Article -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Liste des expériences</h1>
				</header>


				<article>

					<table id="infoExp" class="table">
						<thead>
							<th scope="col">
								<h3>Type</h3>
							</th>
							<th scope="col">
								<h3>Domaine</h3>
							</th>
							<th scope="col">
								<h3>Rémunéré ?</h3>
							</th>
							<th scope="col">
								<h3>Durée</h3>
							</th>
							<th scope="col">
								<h3>Entreprise</h3>
							</th>
							<th scope="col">
								<h3>Ville</h3>
							</th>
							<th scope="col">
								<h3>Pays</h3>
							</th>

						</thead>

						{% for infoExperiences in infoExp %} {% if infoExperiences[8]>400 %}

						<tbody>
							<td style="color:green;">
								<h4>{{infoExperiences[1]}}</h4>
							</td>
							<td style="color:green;">
								<h4>{{infoExperiences[2]}}</h4>
							</td>
							
							<td style="color:green;">
								<h4>
									{% if infoExperiences[3] %}
										Oui
									{% else %}
										Non
									{% endif %}
									<!-- {{infoExperiences[3]}} -->
								</h4>
							</td>
							
							<td style="color:green;">
								<h4>{{infoExperiences[4]}}</h4>
							</td>
							<td style="color:green;">
								<h4>{{infoExperiences[5]}}</h4>
							</td>
							<td style="color:green;">
								<h4>{{infoExperiences[6]}}</h4>
							</td>
							<td style="color:green;">
								<h4>{{infoExperiences[7]}}</h4>
							</td>
							<td style="color:green;">
								<h4>{{infoExperiences[8]}}</h4>
							</td>

						</tbody>
						{% else %}
						<tbody>
							<td style="color:black;">
								<h4>{{infoExperiences[1]}}</h4>
							</td>
							<td style="color:black;">
								<h4>{{infoExperiences[2]}}</h4>
							</td>
							<td style="color:black;">
								<h4>
									{% if infoExperiences[3] %}
										Oui
									{% else %}
										Non
									{% endif %}
								</h4>
							</td>
							<td style="color:black;">
								<h4>{{infoExperiences[4]}}</h4>
							</td>
							<td style="color:black;">
								<h4>{{infoExperiences[5]}}</h4>
							</td>
							<td style="color:black;">
								<h4>{{infoExperiences[6]}}</h4>
							</td>
							<td style="color:black;">
								<h4>{{infoExperiences[7]}}</h4>
							</td>
							<td style="color:black;">
								<h4>{{infoExperiences[8]}}</h4>
							</td>

						</tbody>
						{%endif%} {% endfor %}


					</table>

				</article>
		</div>
		<!-- /container -->


		<footer id="footer" class="top-space">
			{% include 'footer.html' %}
		</footer>
		<!-- <script type="text/javascript" src="{{url_for('static', filename='js/recherche.js')}}"></script> -->
		<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
		<script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
		<script src=" {{url_for('static', filename='js/template.js')}} "></script>
		<script>
			$('input[type="radio"]').change(function () {
				var domain = $('input[name="filterDomain"]:checked').prop('value') || '';
				var money = $('input[name="filterMoney"]:checked').prop('value') || '';
				var type = $('input[name="filterType"]:checked').prop('value') || '';
				var country = $('input[name="filterCountry"]:checked').prop('value') || '';

				$('tbody').hide();
				$('tbody:contains(' + type + ')').show();
				$('tbody').not(':contains(' + domain + ')').hide();
				$('tbody').not(':contains(' + money + ')').hide();

				// if(country==France){
				// 	$('tbody:contains(' + France + ')').show();
				// }
				// else{
				// 	$('tbody').not(':contains(' + France + ')').show();
				// }
			});


		</script>

</body>

</html>