<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>Want an ENIntership ?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">


	<script src="https://kit.fontawesome.com/8846054c71.js" crossorigin="anonymous"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>
	<div id="app">
		{% include 'navbar.html' %}

		<header id="head" class="secondary"></header>

		<!-- container -->
		<div class="container">



			<div class="row">

				<!-- Article main content -->
				<article class="col-xs-12 maincontent">
					<header class="page-header">
						<h1 class="page-title">Création d'un compte</h1>
					</header>

					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<h3 class="thin text-center">Crées-toi un compte pour pouvoir accéder à toutes les fonctionnalités du site</h3>
								</div>
								<hr/>
								<div class="form-group">
									<div class="row">
										<div class="col-xs-6">
											<label>Nom<span class="text-danger"> *</span></label>
											<input v-model="user.Nom" id="test" class="form-control" required>
										</div>
										<div class="col-xs-6">
											<label>Prénom<span class="text-danger"> *</span></label>
											<input type="text" v-model="user.Prenom" class="form-control" required>
										</div>
									</div>
									<br/>
									<div class="row">
										<div class="col-xs-7">
											<label>Surnom</label>
											<input type="text" v-model="user.Surnom" class="form-control">
										</div>
										<div class="col-xs-5">
											<label>Date de Naissance</label>
											<input type="date" v-model="user.Naissance" class="form-control">
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-sm-8">
											<label>Email<span class="text-danger"> *</span></label>
											<input type="email" v-model="user.Email" class="form-control" required>
										</div>

										<div class="col-sm-4">
											<label>Téléphone</label>
											<input type="tel" v-model="user.Telephone" class="form-control">
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-xs-6">
											<label>Mot de passe<span class="text-danger"> *</span></label>
											<input type="password" v-model="user.Mdp" class="form-control" required>
										</div>

										<div class="col-xs-6">
											<label>Confirmation mot de passe<span class="text-danger"> *</span></label>
											<input type="password" class="form-control" v-model="confirmPassword" required>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-md-5">
											<label class="checkbox">
												<input type="checkbox" v-model="user.Diplome">
												<span class="text-danger">* </span>Diplomé ? Si oui, date :
											</label>
										</div>
										<div class="col-md-7" v-if="user.Diplome">
											<input type="date" v-model="user.DateDiplome" class="form-control">
										</div>
									</div>
									<hr />



									<div class="row">
										<div class="col-xs-7">
											<ul>
												<li v-for="e in err" class="text-danger">[[ e ]]</li>
											</ul>
										</div>
										<div class="col-xs-5">
											<button class="btn btn-action" v-on:click="submit" type="submit"><i class="fas fa-save"></i> Sauvegarder</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</article>
				<!-- /Article -->

			</div>
		</div> <!-- /container -->


		<footer id="footer" class="top-space">
			{% include 'footer.html' %}
		</footer>	

	</div>

	<script type="text/javascript" src="{{url_for('static', filename='js/signup.js')}}"></script>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/headroom.min.js')}}"></script>
	<script src=" {{ url_for('static', filename='js/jQuery.headroom.min.js')}}"></script>
	<script src=" {{url_for('static', filename='js/template.js')}} "></script>
</body>

</html>